.header-container {
  padding: 10px;

  .icons-container {
    display: flex;
    // background-color: blue;
    flex-direction: row;
    padding: 10px;
    justify-content: flex-end;
    .icons {
      // background-color: green;
      padding: 10px;
    }
  }
}
